<app-public-header></app-public-header>

<form [formGroup]="loginForm" (ngSubmit)="login()" class="my-5">

  <div class="form-group">
  <label for="username">Username</label>
  <input type="text" class="form-control" formControlName="username" placeholder="Username"
    [class.is-invalid]=" loginForm.touched && loginForm.controls['username'].invalid"
    [class.is-valid]="loginForm.controls['username'].valid && (loginForm.controls['username'].touched || submitted)"
    required minlength="7">
  <div *ngIf="loginForm.controls['username'].touched && loginForm.controls['username'].invalid" class="invalid-feedback">
    <div *ngIf="loginForm.controls['username'].errors?.['required']">Username is required</div>
    <div *ngIf="loginForm.controls['username'].errors?.['minlength']">Username must be at least 7 characters long</div>
  </div>
</div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" formControlName="password" placeholder="Password"
    [class.is-invalid]=" loginForm.controls['password'].touched  && loginForm.controls['password'].invalid" [class.is-valid]="loginForm.controls['password'].valid && !submitted" required minlength="7">
    <div *ngIf="loginForm.controls['password'].touched  && loginForm.controls['password'].invalid" class="invalid-feedback">
      <div *ngIf="loginForm.controls['password'].errors?.['required']">Password is required</div>
      <div *ngIf="loginForm.controls['password'].errors?.['minlength']">Password must be at least 7 characters long</div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Submit</button>
</form>

  <app-footer></app-footer>

