
.header_container{

   display: grid;
   grid-template-rows: repeat(2, 25%);
   justify-content: center;
   border: solid 2px blue;
   gap: 3em;
   margin-bottom: 3em;

  .div1{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin: 1em 1em 0em;
    white-space: nowrap;


    img {
      position: relative;
      right: 15em;
    }
  }

}
